@model List<LuckDraw.Models.Luck>
@{
    ViewData["Title"] = "奖项管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>奖项管理</h2>
<hr />
<button class="btn btn-info" onclick="add(0)">添加抽奖组</button>
<button class="btn btn-success" style="margin-left:10px;" onclick="window.location.href = '/Content/template.xlsx'">下载导入模板</button>
@foreach (var x in Model)
{
    if (x.ParentID == 0)
    {
        <hr />
        <div class="card">
            <div class="card-header">@(x.Name)(@x.Description)</div>
            <div class="card-body">
                @foreach (var i in Model)
                {
                    if (i.ParentID == x.ID)
                    {
                        <div title="@i.Description" class="btn btn-sm btn-primary" style="margin:5px;">@(i.Name)(@i.Weigh)<span onclick="edit(@i.ID)">&nbsp;<i class="fas fa-edit"></i></span><span onclick="del(@i.ID)">&nbsp;<i class="fas fa-trash"></i></span></div>
                    }
                }
                <button onclick="add(@x.ID)" class="btn btn-sm btn-light" style="margin:5px;">添加抽奖项&nbsp;<i class="fas fa-plus-circle"></i></button>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-info" id="btn-daoru" onclick="upload(@x.ID)" style="margin: 0 5px;">导入&nbsp;<i class="fas fa-file-upload"></i></button>
                <button class="btn btn-sm btn-success" onclick="mulit(@x.ID)" style="margin: 0 5px;">批量&nbsp;<i class="fas fa-tasks"></i></button>
                <button class="btn btn-sm btn-warning" onclick="edit(@x.ID)" style="margin: 0 5px;">修改&nbsp;<i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" onclick="del(@x.ID)" style="margin: 0 5px;">删除&nbsp;<i class="fas fa-trash"></i></button>
            </div>
        </div>
    }
}
@section scripts{
    <script>
        var winOpen = null;

        function add(id) {
            winOpen = layer.open({
                type: 2,
                title: (id == 0 ? '添加抽奖组' : '添加抽奖项'),
                shadeClose: true,
                shade: [0.45],
                area: ['340px', '380px'],
                content: '/Luck/Add?ParentID=' + id,
            });
        };

        function upload(id) {
            console.log("我启动了");
            layui.use('upload', function () {
                var  upload = layui.upload;
                upload.render({
                    elem: '#btn-daoru'
                    , url: '/Luck/ExcelAdd'
                    , acceptMime:'xlsx/xls'
                    , accept: 'file'//普通文件
                    , exts: 'xlsx|xls'//后缀
                    , drag:'true'//拖拽上传
                    , size: 2000000
                    , done: function (res) {
                        layui.alert(res.result);                      
                    }
                })
            });
        }

        function mulit(id) {
            layer.prompt({ title: '批量添加抽奖项 <span style="color:#FF5722;">注意：每行一项</span>', formType: 2 }, function (text, index) {
                layer.close(index);
                layer.load(2, { shade: false });
                var data = {
                    ID: id,
                    Text: text,
                };
                $.post("/Luck/MulitAdd", data, function (res) {
                    if (res == "success") {
                        layer.msg("批量添加成功");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        layer.alert(res);
                    };
                    layer.closeAll('loading');
                });
            });
        }

        function edit(id) {
            winOpen = layer.open({
                type: 2,
                title: '编辑',
                shadeClose: true,
                shade: [0.45],
                area: ['340px', '380px'],
                content: '/Luck/Edit?ID=' + id,
            });
        };

        function del(id) {
            layer.confirm('确定要删除吗，这是个不可恢复的操作', {
                btn: ['确定', '取消']
            }, function (index) {
                layer.close(index);
                layer.load(2, { shade: false });
                $.post("/Luck/Delete", { ID: id }, function (res) {
                    if (res == "success") {
                        layer.msg("删除成功");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        layer.alert(res);
                    };
                    layer.closeAll('loading');
                });
            });
        };

        function closeFrame() {
            layer.close(winOpen);
            window.location.reload();
        };
    </script>
}